- name: "Install phyton-pip"
  shell: apt-get -y install python-pip
  tags:
    - install
    - python
- name: "Install docker client"
  shell: pip install docker-py
  tags:
    - install
    - docker-client-py
- name: "Get latest  Docker package"
  shell: curl -sSL https://get.docker.com/ | sh
  tags:
    - install
    - docker
- name: "add apt-key"
  shell: curl -sSL https://get.docker.com/gpg | sudo apt-key add -
  tags:
    - install
    - docker
- name: "build nginx image"
  local_action:
    module: docker_image
    path: .
    name: nginx
    state: present
  tags:
    - install
    - nginx
