- name: copy index file
  template: src=index.html.j2 dest=/tmp/index.html
  tags:
    - copy_nginx_index

- name: syncronize dockerfile
  synchronize: src=../files dest=/tmp
  tags:
    - copy_file

- name: build the image
  docker_image: >
    name=built-by-ansible
    tag=nginx
    path=/tmp/files
    state=present
  tags:
    - image

- name: run the site in a docker container
  docker:
    name: nginx
    image: "built-by-ansible:nginx"
    state: reloaded
    restart_policy: always
    publish_all_ports: yes
    ports:
      80:80
  tags:
      - container_nginx
